<% content_for :title, '域名资产管理' %>

<div class="domain-filter-form">
  <%= render 'filter_form' %>
</div>
<table class="table table-striped table-hover table-bordered">
  <thead>
  <tr>
    <th width="10%">域名</th>
    <th width="15%">更新时间</th>
    <th width="35%">备注</th>
    <th width="10%">操作</th>
  </tr>
  </thead>

  <tbody>
  <% @domains.each do |domain| %>
      <tr>
        <td><%= link_to domain.domain, edit_target_asset_domain_path(@target, domain), remote: true  %></td>
        <td><%= domain.created_at %></td>
        <td><%= domain.memo %></td>
        <td>
          <%= link_to '编辑', edit_target_asset_domain_path(@target, domain), :class=>"btn btn-success btn-sm ", remote: true %>
          <%= link_to '删除', target_asset_domain_path(@target, domain), :class=>"btn btn-success btn-sm ", remote: true, method: :delete, data: { confirm: '确定要删除吗?' } %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<div class="col-lg-4">
  <div class="pull-right">
    <%= will_paginate @domains,:previous_label=> '上一页',:next_label=> '下一页', :container => false  %>
  </div>
</div>