<%= stylesheet_link_tag params[:controller] %>

<ol class="breadcrumb">
  <li>
    <a href="/my">管理面板</a>
  </li>
  <li>
    <a href="/my/targets">目标管理</a>
  </li>
  <li class="active"><%= @target.name %></li>
</ol>

<div class="row mg-b">
  <div class="col-xs-6">
    <h3 class="no-margin"><%= @target.name %>（<%= @target.website %>）<small><%= link_to raw('<i class="fa fa-pencil"></i>'), edit_target_path(@target) %></small></h3>
    <small><%= @target.memo %>  </small><br/>
    <small><%= @target.tags.map{|t| t.name}.join(',') %>  </small>
  </div>
  <div class="col-xs-6 text-right">
    <a href="javascript:;" class="fa fa-flash pull-right pd-sm toggle-sidebar" data-toggle="off-canvas" data-move="rtl">
      <span class="badge bg-danger animated flash">6</span>
    </a>
  </div>
</div>

<!--
<div class="row">
  <div class="col-md-12">
    <section class="panel">
      <header class="panel-heading">资产导入工具</header>
      <div class="panel-body">

        <div class="btn-group show-on-hover">
          <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">导入基础结构资产
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="javascript:;">根域名</a>
            </li>
            <li>
              <a href="javascript:;">IP</a>
            </li>
            <li>
              <a href="javascript:;">子域名</a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="javascript:;">其他</a>
            </li>
          </ul>
        </div>

        <div class="btn-group show-on-hover">
          <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">导入人员资产
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="javascript:;">根域名</a>
            </li>
            <li>
              <a href="javascript:;">IP</a>
            </li>
            <li>
              <a href="javascript:;">子域名</a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="javascript:;">其他</a>
            </li>
          </ul>
        </div>

      </div>
    </section>
  </div>
</div>-->

<div class="row" style="display:none;" id="task_panel">
  <div class="col-lg-12">
    <section class="panel">
      <header class="panel-heading"><i class="fa fa-refresh fa-spin mg-r-xs"></i>正在导入资产...</header>
      <div class="panel-body">
        <div class="progress progress-striped active">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 0%" id="task-bar">
            <span class="sr-only">0% Complete</span>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12" style="padding: 15px; height: 100px; overflow: auto;" id="ajaxLog">
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<section>
  <ul id="myTab2" class="nav nav-tabs">
    <li class="active">
      <a href="#domainPanel" data-toggle="tab">根域名<span class="badge bg-info" id="domains-size"></span></a>
    </li>
    <li class="">
      <a href="#hostPanel" data-toggle="tab">网站列表<span class="badge bg-info" id="hosts-size"></span></a>
    </li>
    <li class="">
      <a href="#ipPanel" data-toggle="tab">IP范围<span class="badge bg-info" id="ips-size"></span></a>
    </li>
    <li class="">
      <a href="#personPanel" data-toggle="tab">员工<span class="badge bg-info" id="persons-size"></span></a>
    </li>
  </ul>
  <section class="panel">
    <div class="panel-body">
      <div id="myTabContent2" class="tab-content">
        <div class="tab-pane active" id="domainPanel">
          <div class="row">
            <div class="col-xs-6 col-sm-6">
            </div>
            <div class="col-xs-6 col-sm-6">
              <div class="pull-right col-sm-auto" style="margin:10px">
                <button class="btn btn-info btn-sm" data-toggle="modal" data-target=".add-domain-modal"><li class="fa fa-plus"></li>添加根域名</button>
              </div>
            </div>
          </div>
          <section class="panel">
            <div class="panel-heading">根域名列表 <a class="fa fa-refresh" href="javascript:refresh_domains();"></a></div>
            <div class="panel-body no-padding">
              <table class="table table-hover no-margin">
                <thead>
                <tr>
                  <th>#</th>
                  <th>域名</th>
                  <th>更新日期</th>
                  <th>操作</th>
                </tr>
                </thead>
                <tbody id="domains-update">
                </tbody>
              </table>
            </div>
          </section>
        </div>
        <div class="tab-pane" id="hostPanel">
          <div class="row">
            <div class="col-xs-6 col-sm-6">
            </div>
            <div class="col-xs-6 col-sm-6">
              <div class="pull-right col-sm-auto" style="margin:10px">
                <button class="btn btn-info btn-sm" data-toggle="modal" data-target=".add-host-modal"><li class="fa fa-plus"></li>添加子域名</button>
              </div>
            </div>
          </div>
          <section class="panel">
            <div class="panel-heading">
              域名管理
            </div>
            <div class="panel-body no-padding">
              <div id="hostTree" class="tree tree-plus-minus tree-solid-line tree-unselectable">
                <div class = "tree-folder" style="display:none;">
                  <div class="tree-folder-header">
                    <i class="fa fa-folder"></i>
                    <div class="tree-folder-name"></div>
                  </div>
                  <div class="tree-folder-content"></div>
                  <div class="tree-loader" style="display:none"></div>
                </div>
                <div class="tree-item" style="display:none;">
                  <i class="tree-dot"></i>
                  <div class="tree-item-name"></div>
                </div>
              </div>
            </div>
          </section>
        </div>
        <div class="tab-pane" id="ipPanel">
          <section class="panel">
            <div class="panel-heading">
              IP列表
            </div>
            <div class="panel-body no-padding">
              <div id="iptree" class="tree tree-plus-minus tree-solid-line tree-unselectable">
                <div class = "tree-folder" style="display:none;">
                  <div class="tree-folder-header">
                    <i class="fa fa-folder"></i>
                    <div class="tree-folder-name"></div>
                  </div>
                  <div class="tree-folder-content"></div>
                  <div class="tree-loader" style="display:none"></div>
                </div>
                <div class="tree-item" style="display:none;">
                  <i class="tree-dot"></i>
                  <div class="tree-item-name"></div>
                </div>
              </div>
            </div>
          </section>
        </div>
        <div class="tab-pane" id="personPanel">
          <div class="row">
            <div class="col-xs-6 col-sm-6">
            </div>
            <div class="col-xs-6 col-sm-6">
              <div class="pull-right col-sm-auto" style="margin:10px">
                <%= link_to raw('<li class="fa fa-plus"></li>添加员工信息'), new_target_asset_person_path(@target), remote: true, class: "btn btn-info btn-sm"%>
              </div>
            </div>
          </div>
          <section class="panel">
            <div class="panel-heading">员工信息列表 <a class="fa fa-refresh" href="javascript:refresh_assets('person', 'personTree');"></a></div>
            <div class="panel-body no-padding">
              <div id="personTree" class="tree tree-plus-minus tree-solid-line tree-unselectable">
                <div class = "tree-folder" style="display:none;">
                  <div class="tree-folder-header">
                    <i class="fa fa-folder"></i>
                    <div class="tree-folder-name"></div>
                  </div>
                  <div class="tree-folder-content"></div>
                  <div class="tree-loader" style="display:none"></div>
                </div>
                <div class="tree-item" style="display:none;">
                  <i class="tree-dot"></i>
                  <div class="tree-item-name"></div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>
</section>

<div class="modal fade bs-modal-sm add-person-modal" tabindex="-1" role="dialog" aria-hidden="true" id="add-person-modal">
</div>

<div class="modal fade bs-modal-sm add-domain-modal" tabindex="-1" role="dialog" aria-hidden="true" id="add-domain-modal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h5 class="modal-title text-center" id="myModalLabel">添加根域名资产</h5>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>请输入根域名</label>
          <input type="text" class="form-control input-sm" name="domain" id="domain">
        </div>
        <div class="form-group">
          <label class="checkbox pull-left"></label>
          <input type="checkbox" name="autoimport" id="autoimport" checked>自动获取子域名和邮箱资产
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn bg-default btn-sm" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary btn-sm" onclick="javascript:add_domain_submit()">提交»</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bs-modal-sm add-host-modal" tabindex="-1" role="dialog" aria-hidden="true" id="add-host-modal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h5 class="modal-title text-center" id="myModalLabel">添加网站资产</h5>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>请输入网站Host</label>
          <input type="text" class="form-control input-sm" name="host" id="host">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn bg-default btn-sm" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary btn-sm" onclick="javascript:add_host_submit()">提交»</button>
      </div>
    </div>
  </div>
</div>

<script>
    var DataSourceTree = function(options) {
        this._data 	= options.data;
        this._delay = options.delay;
    }

    DataSourceTree.prototype.data = function(options, callback) {
        var self = this;
        var $data = null;

        if(!("name" in options) && !("type" in options)){
            $data = this._data;//the root tree
            callback({ data: $data });
            return;
        }
        else if("type" in options && options.type == "folder") {
            if("additionalParameters" in options && "data" in options)
                $data = options.data;
            else $data = {}//no data
        }

        if($data != null)//this setTimeout is only for mimicking some random delay
            setTimeout(function(){callback({ data: $data });} , parseInt(Math.random() * 500) + 200);

        //we have used static data here
        //but you can retrieve your data dynamically from a server using ajax call
        //checkout examples/treeview.html and examples/treeview.js for more info
    };

  function add_domain_submit()
  {
      data = 'domain='+$('#domain').val()+'&autoimport='+$('#autoimport').is(":checked");
      //alert(data);
      $.ajax({
          type: 'POST',
          url: '/my/targets/<%=@target.id%>/add_domain',
          data: data,
          success: function(data){
              if (data.error)
              {
                  $('#ajaxLog').append("<font color='red'>"+data.errmsg+"</font><br/>");
              }
              else
              {
                  $('#add-domain-modal').modal('toggle');
              }
          },
          error: function(e) {
              $('#ajaxLog').append("<font color='red'>error</font><br/>");
          },
          dataType: 'json'
      });
  }

  function add_host_submit()
  {
      data = 'host='+$('#host').val();
      //alert(data);
      $.ajax({
          type: 'POST',
          url: '/my/targets/<%=@target.id%>/add_host',
          data: data,
          success: function(d){
              if (d.error)
              {
                  $('#ajaxLog').append("<font color='red'>"+d.errmsg+"</font><br/>");

              }
              else
              {
                  $('#add-host-modal').modal('toggle');
              }
          },
          error: function(e) {
              alert(" error");
          },
          dataType: 'json'
      });
  }

    var is_refresh_domains=false;
    var is_refresh_assets_host=false;
    var is_refresh_assets_ip=false;
    var is_refresh_assets_person=false;

  function refresh_domains()
  {
      is_refresh_domains = true;
      $('#domains-size').html('<i class="fa fa-refresh fa-spin mg-r-xs"></i>');
      $('#domains-update').html('<i class="fa fa-refresh fa-spin mg-r-xs"></i>正在刷新域名...')
      $.ajax({
          type: 'GET',
          url: '/my/targets/<%=@target.id%>/get_domains_json',
          success: function(data){
              if (data.error)
              {
                  $('#ajaxLog').append("<font color='red'>"+data.errmsg+"</font><br/>");

              }
              else
              {
                  var newRows = '';
                  for (var i in data.domains) {
                      newRows += "<tr><td>" + data.domains[i].id + "</td>"
                      newRows += "<td>" + data.domains[i].domain + "</td>"
                      newRows += "<td>" + data.domains[i].created_at + "</td>"
                      newRows += "<td>修改／删除</td>"
                  }
                  $('#domains-update').html(newRows);
                  $('#domains-size').html(data.domains.length);
              }
              is_refresh_domains = false;
          },
          error: function(e) {
              //alert(" error");
              is_refresh_domains = false;
          },
          dataType: 'json'
      });
  }

  function set_type_refresh(type, is_refreshing)
  {
      if(type=='host')
          is_refresh_assets_host=is_refreshing;
      else if(type=='ip')
          is_refresh_assets_ip=is_refreshing;
      else if(type=='person')
          is_refresh_assets_person=is_refreshing;
  }

    //type = host,ip,person
  function refresh_assets(type,treeid)
  {
      set_type_refresh(type, true);
      $('#'+type+'s-size').html('<i class="fa fa-refresh fa-spin mg-r-xs"></i>');
      $.ajax({
          type: 'GET',
          url: '/my/targets/<%=@target.id%>/get_'+type+'s_json',
          success: function(data){
              if (data.error)
              {
                  $('#ajaxLog').append("<font color='red'>"+data.errmsg+"</font><br/>");
              }
              else
              {
                  $('#'+type+'s-size').html(data.size);
                  var treedata = new DataSourceTree({
                      data: data.data,
                      delay: 10
                  });

                  $('#'+treeid).tree({
                      selectable: false,
                      dataSource: treedata,
                      loadingHTML: '<i class="fa fa-refresh fa-spin mg-r-xs"></i>加载中……',
                  });
              }
              set_type_refresh(type, false);
          },
          error: function(e) {
              $('#ajaxLog').append("<font color='red'>error</font><br/>");
              set_type_refresh(type, false);
          },
          dataType: 'json'
      });
  }

    function refresh_progress()
    {
        if(!is_refresh_domains && !is_refresh_assets_host
                && !is_refresh_assets_ip
                && !is_refresh_assets_person) {
            refresh_domains();
            refresh_assets('host', 'hostTree');
            refresh_assets('ip', 'iptree');
            refresh_assets('person', 'personTree');
        }

        if (!$('#task_panel').is(':hidden'))
        {
            setTimeout("refresh_progress()", 5000);
        }

    }

    function whenfinished(){
        //alert("finish");
        $('#ajaxLog').append("完成!<br/>");
        document.getElementById('task_panel').style.display = "none";
    }
    function whenerror(msg){
        //alert(msg);
        $('#ajaxLog').append("<font color='red'>"+msg+"</font><br/>");
        document.getElementById('task_panel').style.display = "none";
    }
    function whendata(data){
        //alert(data);
        for (index = 0; index < data.length; ++index) {
            if (data[index]!='start dumping...' && data[index]!='<<<finished>>>')
            {
                $('#ajaxLog').append("- "+data[index]+" <br/>");
                $('#ajaxLog').scrollTop($('#ajaxLog')[0].scrollHeight);
                var width = $('#task-bar').width();
                var parentWidth = $('#task-bar').offsetParent().width();
                var percent = 100*width/parentWidth+1;
                $("#task-bar").width(percent + '%');
            }
        }

    }

    function start_target_import(need_submit) {
        $('#ajaxLog').text('');
        $('#task-bar').width('1%');
        document.getElementById('task_panel').style.display = 'block';
        StartDump(<%= @target.id %>, whenfinished, whenerror, whendata, need_submit);
        refresh_progress();
    }

$( document ).ready(function() {
    <%if @show_task %>
    start_target_import(false);
    <%end%>
    refresh_progress();
});
</script>

<%= javascript_include_tag params[:controller] %>
