<%= stylesheet_link_tag params[:controller] %>

<ol class="breadcrumb">
  <li>
    <a href="/my">管理面板</a>
  </li>
  <li>
    <a href="/my/targets">目标管理</a>
  </li>
  <li class="active"><%= @target.name %></li>
</ol>

<div class="col-xs-12 col-sm-12" id="logPanel">
</div>

<div class="row mg-b">
  <div class="col-xs-6">
    <h3 class="no-margin"><%= @target.name %>（<%= @target.website %>）<small><%= link_to raw('<i class="fa fa-pencil"></i>'), edit_target_path(@target) %></small></h3>
    <small><%= @target.memo %>  </small><br/>
    <small><%= @target.tags.map{|t| t.name}.join(',') %>  </small>
    <small><div id="entrances-list-buttons"></div></small>

  </div>
  <div class="col-xs-6 text-right">
    <a href="javascript:;" class="fa fa-flash pull-right pd-sm toggle-sidebar" data-toggle="off-canvas" data-move="rtl">
      <span class="badge bg-danger animated flash">6</span>
    </a>
  </div>
</div>

<!--
<div class="row">
  <div class="col-md-12">
    <section class="panel">
      <header class="panel-heading">资产导入工具</header>
      <div class="panel-body">

        <div class="btn-group show-on-hover">
          <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">导入基础结构资产
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="javascript:;">根域名</a>
            </li>
            <li>
              <a href="javascript:;">IP</a>
            </li>
            <li>
              <a href="javascript:;">子域名</a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="javascript:;">其他</a>
            </li>
          </ul>
        </div>

        <div class="btn-group show-on-hover">
          <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">导入人员资产
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="javascript:;">根域名</a>
            </li>
            <li>
              <a href="javascript:;">IP</a>
            </li>
            <li>
              <a href="javascript:;">子域名</a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="javascript:;">其他</a>
            </li>
          </ul>
        </div>

      </div>
    </section>
  </div>
</div>-->

<div class="row" style="display:none;" id="task_panel">
  <div class="col-lg-12">
    <section class="panel">
      <header class="panel-heading"><i class="fa fa-refresh fa-spin mg-r-xs"></i>正在导入资产...</header>
      <div class="panel-body">
        <div class="progress progress-striped active">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 0%" id="task-bar">
            <span class="sr-only">0% Complete</span>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12" style="padding: 15px; height: 100px; overflow: auto;" id="ajaxLog">
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<section>
  <ul id="myTab2" class="nav nav-tabs">
    <li class="active">
      <a href="#domainPanel" data-toggle="tab">根域名<span class="badge bg-info" id="domains-size"></span></a>
    </li>
    <li class="">
      <a href="#hostPanel" data-toggle="tab">网站列表<span class="badge bg-info" id="hosts-size"></span></a>
    </li>
    <li class="">
      <a href="#ipPanel" data-toggle="tab">IP范围<span class="badge bg-info" id="ips-size"></span></a>
    </li>
    <li class="">
      <a href="#personPanel" data-toggle="tab">员工<span class="badge bg-info" id="persons-size"></span></a>
    </li>
  </ul>
  <section class="panel">
    <div class="panel-body">
      <div id="myTabContent2" class="tab-content">
        <div class="tab-pane active" id="domainPanel">
          <div class="row">
            <div class="col-xs-6 col-sm-6">
            </div>
            <div class="col-xs-6 col-sm-6">
              <div class="pull-right col-sm-auto" style="margin:10px">
                <%= link_to raw('<li class="fa fa-plus"></li>添加根域名'), new_target_asset_domain_path(@target), remote: true, class: "btn btn-info btn-sm"%>
              </div>
            </div>
          </div>
          <section class="panel">
            <div class="panel-heading">根域名列表 <a class="fa fa-refresh" href="javascript:refresh_domains(<%=@target.id%>);"></a></div>
            <div class="panel-body no-padding">
              <div class="domain-list-index">
              </div>
            </div>
          </section>
        </div>
        <div class="tab-pane" id="hostPanel">
          <div class="row">
            <div class="col-xs-6 col-sm-6">
            </div>
            <div class="col-xs-6 col-sm-6">
              <div class="pull-right col-sm-auto" style="margin:10px">
                <%= link_to raw('<li class="fa fa-plus"></li>添加网站'), new_target_asset_host_path(@target), remote: true, class: "btn btn-info btn-sm"%>
              </div>
            </div>
          </div>
          <section class="panel">
            <div class="panel-heading">
              网站列表<a class="fa fa-refresh" href="javascript:refresh_assets('host',<%=@target.id%>);"></a>
            </div>
            <div class="host-filter-form"></div>
            <div class="panel-body no-padding" id="hostTreePanel">
              <div id="hostTree" class="tree tree-plus-minus tree-solid-line tree-unselectable">
              </div>
            </div>
          </section>
        </div>
        <div class="tab-pane" id="ipPanel">
          <div class="row">
            <div class="col-xs-6 col-sm-6">
            </div>
            <div class="col-xs-6 col-sm-6">
              <div class="pull-right col-sm-auto" style="margin:10px">
                <%= link_to raw('<li class="fa fa-plus"></li>添加IP'), new_target_asset_ip_path(@target), remote: true, class: "btn btn-info btn-sm"%>
              </div>
            </div>
          </div>
          <section class="panel">
            <div class="panel-heading">
                IP列表<a class="fa fa-refresh" href="javascript:refresh_assets('ip',<%=@target.id%>);"></a>
            </div>
            <div class="ip-filter-form"></div>
            <div class="panel-body no-padding" id="ipTreePanel">
              <div id="ipTree" class="tree tree-plus-minus tree-solid-line tree-unselectable">
              </div>
            </div>
          </section>
        </div>
        <div class="tab-pane" id="personPanel">
          <div class="row">
            <div class="col-xs-6 col-sm-6">
              <div class="pull-left col-sm-auto">
                <%= link_to raw('<li class="fa fa-exchange"></li>导入邮箱'), import_emails_target_asset_persons_path(@target), remote: true, class: "btn btn-success btn-sm"%>
              </div>
            </div>
            <div class="col-xs-6 col-sm-6">
              <div class="pull-right col-sm-auto">
                <%= link_to raw('<li class="fa fa-plus"></li>添加员工信息'), new_target_asset_person_path(@target), remote: true, class: "btn btn-info btn-sm"%>
              </div>
            </div>
          </div>
          <section class="panel">
            <div class="panel-heading">员工信息列表 <a class="fa fa-refresh" href="javascript:refresh_assets('person',<%=@target.id%>);"></a></div>
            <div class="person-filter-form"></div>
            <div class="panel-body no-padding" id="personTreePanel">
              <div id="personTree" class="tree tree-plus-minus tree-solid-line tree-unselectable">
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>
</section>

<div class="modal fade bs-modal-sm add-person-modal" tabindex="100" role="dialog" aria-hidden="true" id="add-person-modal">
</div>

<div class="modal fade bs-modal-sm add-domain-modal" tabindex="100" role="dialog" aria-hidden="true" id="add-domain-modal">
</div>

<div class="modal fade bs-modal-sm add-host-modal" tabindex="100" role="dialog" aria-hidden="true" id="add-host-modal">
</div>

<div class="modal fade bs-modal-sm add-ip-modal" tabindex="100" role="dialog" aria-hidden="true" id="add-ip-modal">
</div>

<div class="modal fade bs-modal-sm import-emails-modal" tabindex="1000" role="dialog" aria-hidden="true" id="import-emails-modal">
</div>

<div class="modal fade bs-modal-sm add-entrance-modal" tabindex="-1" role="dialog" aria-hidden="true" id="add-entrance-modal">
</div>

<script>


    function start_target_import(need_submit) {
        $('#ajaxLog').text('');
        $('#task-bar').width('1%');
        document.getElementById('task_panel').style.display = 'block';
        StartDump(<%= @target.id %>,
                function(){
                    //alert("finish");
                    $('#ajaxLog').append("完成!<br/>");
                    document.getElementById('task_panel').style.display = "none";
                },
                function(msg){
                    //alert(msg);
                    $('#ajaxLog').append("<font color='red'>"+msg+"</font><br/>");
                    document.getElementById('task_panel').style.display = "none";
                },
                function(data){
                    //alert(data);
                    for (index = 0; index < data.length; ++index) {
                        if (data[index]!='start dumping...' && data[index]!='<<<finished>>>')
                        {
                            $('#ajaxLog').append("- "+data[index]+" <br/>");
                            $('#ajaxLog').scrollTop($('#ajaxLog')[0].scrollHeight);
                            var width = $('#task-bar').width();
                            var parentWidth = $('#task-bar').offsetParent().width();
                            var percent = 100*width/parentWidth+1;
                            $("#task-bar").width(percent + '%');
                        }
                    }

                }, need_submit);
        refresh_progress(<%= @target.id %>);
    }

$( document ).ready(function() {
    <%if @show_task %>
    start_target_import(false);
    <%end%>
    $.getScript("/my/targets/<%= @target.id %>/asset_entrances/reload.js");
    refresh_progress(<%= @target.id %>);

});
</script>

<%= javascript_include_tag params[:controller] %>
