<h1></h1>

<%if devise_error_messages!.size>0 %>
<div class="page-header alert alert-warning alert-dismissible ade in" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span>
    <span class="sr-only">关闭</span></button>
  <strong>提示：</strong> <%=devise_error_messages!%>
</div>
<%end%>

<div class="outlet">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "form-vertical hover-stripped" }) do |f| %>
  <!-- Start .outlet -->
  <!-- Page start here ( usual with .row ) -->
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <!-- col-lg-4 start here -->
      <div class="panel panel-default plain">
        <!-- Start .panel -->
        <div class="panel-heading white-bg">
          <h4 class="panel-title"><i class="fa fa-user"></i> 个人资料配置</h4>
        </div>
        <div class="panel-body">

            <div class="form-group">
                <label class="control-label">用户名</label>
                <%= f.text_field :username, class:"form-control" %>
            </div>
            <div class="form-group">
              <label class="control-label">邮箱</label>
              <%= f.email_field :email, class:"form-control" %>
              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <div>等待账户激活: <%= resource.unconfirmed_email %></div>
              <% end %>
            </div>

            <div class="form-group">
              <label class="control-label">新密码<i>(不修改密码，留空即可)</i></label>
              <%= f.password_field :password, autocomplete: "off", class:"form-control" %>
            </div>
            <div class="form-group">
              <label class="control-label">重复输入新密码</label>
              <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control" %>
            </div>
              <div class="form-group">
                <label class="control-label">当前密码</label>
                <%= f.password_field :current_password, autocomplete: "off", class:"form-control" %>
              </div>

            <!-- End .form-group  -->
            <div class="form-group mb15">
              <%= f.submit "更新", class: "btn btn-primary"%>

            </div>
            <!-- End .form-group  -->

        </div>
      </div>
      <!-- End .panel -->
    </div>
    <!-- col-lg-4 end here -->
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <!-- col-lg-4 start here -->
      <div class="panel panel-default plain profile-widget">
        <!-- Start .panel -->
        <div class="panel-heading white-bg pl0 pr0">
          头像编辑
        </div>
        <div class="panel-body">
          <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="profile-avatar">
              <%= image_tag current_user.avatar.url(:medium) %>

            </div>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-12">
            修改头像：<%= f.file_field :avatar %>
          </div>
        </div>
        <div class="panel-footer white-bg">
          <ul class="profile-info">
            <li><i class="fa fa-envelope-o "></i> <%=current_user.email%></li>
          </ul>

        </div>
      </div>
      <!-- End .panel -->

      <!-- col-lg-4 start here -->
      <div class="panel panel-default plain profile-widget">
        <!-- Start .panel -->
        <div class="panel-heading white-bg pl0 pr0">
          用户等级
        </div>
        <div class="panel-body">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="profile-avatar">
              <%= current_user.points %>

            </div>
          </div>
        </div>
        <div class="panel-footer white-bg">

        </div>
      </div>
      <!-- End .panel -->
    </div>
    <!-- col-lg-4 end here -->
  </div>
  <!-- Page End here -->
  <% end %>
</div>

<%= button_to "取消帐号", registration_path(resource_name), data: { confirm: "取消之后不能恢复！确认取消帐号吗?" }, method: :delete, class: "btn btn-danger" %>
