<div class="page-header" id="banner">
    <div class="row">
      <div class="col-lg-3">
      </div>
      <div class="col-lg-6">
        <h1 style='text-align: center;'>佛法<small class="lead">开放的网站信息搜索引擎</small></h1>

        <form style="100%" action='/search/result' method='get' data-no-turbolink="true">
        <div class="input-group">
          <input type="text" class="form-control" id="q" name="q">
          <%= hidden_field_tag(:qbase64, "") %>
          <span class="input-group-btn">
            <button class="btn btn-info" type="submit" data-toggle="tooltip" data-placement="right" title data-original-title="Tooltip on right" onclick='search'><i class="fa fa-search"></i> 搜索</button>
          </span>
        </div><!-- /input-group -->
        </form>

        <h4>共收录 <span id="cnt_div" style="font-weight:bold">loading...</span> 个网站，最后更新于 <%=@last ? @last.lastupdatetime.strftime("%Y-%m-%d") : Time.now.strftime("%Y-%m-%d")%></h4>
      </div>
      <div class="col-lg-3">
      </div>
    </div>
    <p/><p/>
    <div class="row">
      <div class="col-lg-12">
        <div class="well">
          <h4>查询语法: <br/>
  <h5>直接输入查询语句，将从标题，html内容，http头信息，url字段中搜索<br/>
  title=abc 从标题中搜索abc。<a href="/search/result?qbase64=<%=CGI.escape Base64.encode64('title="北京"')%>">标题中有北京的网站</a><br/>
  header=abc 从http头中搜索abc。<a href="/search/result?qbase64=<%=CGI.escape Base64.encode64('header="jboss"')%>">jboss服务器</a><br/>
  body=abc 从html正文中搜索abc。<a href="/search/result?qbase64=<%=CGI.escape Base64.encode64('body="Hacked by"')%>">正文包含Hacked by</a><br/>
  domain=qq.com 搜索根域名带有qq.com的网站。<a href="/search/result?qbase64=<%=CGI.escape Base64.encode64('domain="qq.com"')%>">正文包含Hacked by</a><br/>
  host=".gov.cn" 从url中搜索.gov.cn,注意搜索要用host作为名称。<a href="/search/result?qbase64=<%=CGI.escape Base64.encode64('host=".gov.cn"')%>">政府网站</a>, <a href="/search/result?qbase64=<%=CGI.escape Base64.encode64('host=".edu.cn"')%>">教育网站</a><br/>
  ip="1.1.1" 从ip中搜索包含1.1.1的网站,注意搜索要用ip作为名称。<a href="/search/result?qbase64=<%=CGI.escape Base64.encode64('ip="220.181.111."')%>">查询IP为220.181.111.网段的网站</a><br/>

    新增==完全匹配的符号，可以加快搜索速度，比如查找qq.com所有host，可以是domain=="qq.com"<br/>
    <br/>
  高级搜索：可以使用括号 和 &amp;&amp; || !=等符号，如<br/>
  title="powered by" &amp;&amp; title!=discuz<br/>
  title!="powered by" &amp;&amp; body=discuz<br/>
  ( body="content=\"WordPress" || (header="X-Pingback" &amp;&amp; header="/xmlrpc.php" &amp;&amp; body="/wp-includes/") )
  host="gov.cn" <br/>
  关于建站软件的搜索语法请参考：<a href="/info/library">组件列表</a><br/><br/>

<b>注意事项:</b><br/>
* 如果查询字段有空格“ ”或者点“.”，需要用双引号括起来;</br>
* 如果查询表达式有多个与或关系，尽量在外面用（）包含起来</br>
    剩下来，就是发挥你想象力的时候了 ；）

  </h5></h4>
        </div>
      </div>
      <!--<div class="col-lg-4">
        <div class="well">
          <h4>最热查询</h4>
          <li>discuz</li>
        </div>
      </div>-->
    </div>
</div>


<script>

  $('#q').on('input',function(){
    $val = $('#q').val();
    //if($val.indexOf('&') >=0 )
      $('#qbase64').val(  Base64.encode( $val ) );
  })

  //for ie
  if(document.all){
    $('input[type="text"]').each(function() {
      var that=this;

      if(this.attachEvent) {
        this.attachEvent('onpropertychange',function(e) {
          if(e.propertyName!='value') return;
          $(that).trigger('input');
        });
      }
    })
  }

function update_web_cnt() {
  $.get("/search/get_web_cnt", function(data, textStatus) {
    $("#cnt_div").html(data);
  });
}

update_web_cnt();
setInterval(update_web_cnt, 10000);
</script>

<%= javascript_include_tag params[:controller] %>
