<%= form_tag('/search/result', method:'get') do %>
  <%= text_field_tag(:q, @query.force_encoding('UTF-8'), :class=>'input-medium search-query', :style => 'width: 400px') %>
  <%= hidden_field_tag(:qbase64, "") %>
  <%= content_tag(:button, raw('<i class="icon-search"></i> 查询'), :class => 'btn btn-primary') %>
<% end %>

<br/>
<% 
    if @error
  %>
<div class="alert fade in">
  <a class="close" data-dismiss="alert" href="#">×</a>
  <strong>错误！</strong> <%=@error%>
</div>
<%
  else
%>
搜索 <strong><%= @query.force_encoding('utf-8') %></strong> 
获得 <%= @results.meta['total_found'] %> 条匹配结果，
用时 <%= @results.meta['time'] %>秒。模式:<%=@mode%></br>
<legend>查询统计：</legend>

<div class="flickr_pagination">
  <%= will_paginate @results,:previous_label=> '上一页',:next_label=> '下一页', :container => false  %>
</div>

<div id="htmlcontent" class="htmlcontent" style="display:none">
  <pre id="dataddd" class="dataddd">
  </pre>
</div>


<% @results.each do |doc| %>
  <div class="container-fluid">
    <div class="row-fluid well-small" style="border: 1px solid #e1e1e8;">
      <div class="span4" style="padding: 8px">
        <%=link_to doc.host, "http://"+doc.host, :target => "_blank" #link_to doc.host, "http://webscan.360.cn/index/checkwebsite/url/"+doc.host, :target => "_blank" 
        %>  <a href="javascript:view('<%= doc.host%>')"><img src="/eye.png"></a>
        <br/> <%= doc.title.force_encoding('utf-8') %>
      <br/> <%= link_to doc.ip, "/search/result?q="+doc.ip %>
    <br/> 更新时间：<%= doc.lastupdatetime.to_datetime.strftime('%F') %>
  <br/> 
  <% if @tags[doc.hosthash] %>
    <% if @tags[doc.hosthash].is_a?(Array) %>
      <% @tags[doc.hosthash].each do |tag| %>
        <a type="button" class="btn btn-warning" href="/search/result?q=<%=tag.tag%>"><%=tag.tag%></a>
      <% end %>
    <% else %>
      <a type="button" class="btn btn-warning" href="/search/result?q=<%=@tags[doc.hosthash].tag%>"><%=@tags[doc.hosthash].tag%></button>
    <% end %>
  <% end %>
</div>
<div class="span8" style="background-color: #f7f7f9; font-size: 12px; padding: 8px; line-height: 14px;">
  <% header = raw(doc.header.gsub("\n", "<br>")) %>
  <%= highlight(header, @query)%>
</div>
    </div>
    <p></p>
  </div>
<% end %>

<div class="flickr_pagination">
  <%= will_paginate @results,:previous_label=> '上一页',:next_label=> '下一页', :container => false  %>
</div>

<style>
.flickr_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default; }
.flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
  padding: 0.2em 0.5em; }
.flickr_pagination .disabled {
  color: #aaaaaa; }
.flickr_pagination .current {
  font-style: normal;
  font-weight: bold;
  color: #ff0084; }
.flickr_pagination a {
  border: 1px solid #dddddd;
  color: #0063dc;
  text-decoration: none; }
.flickr_pagination a:hover, .flickr_pagination a:focus {
  border-color: #003366;
  background: #0063dc;
  color: white; }
.flickr_pagination .previous_page, .flickr_pagination .next_page {
  border-width: 2px; }
.flickr_pagination .previous_page {
  margin-right: 1em; }
.flickr_pagination .next_page {
  margin-left: 1em; }

</style>

<script>
function view(hst){
  url = '/search/get_host_content?host='+hst;
    $.getJSON(url)
    .done(function(data) {
        $("#dataddd").text(data['host']);//显示到tbody中  
        $("#htmlcontent").dialog({modal:true,height: 530,width:600, title: hst+" 网站正文"}).dialog('open');
        });
}
</script>
<% end %>

