    <% content_for :title, @query %>


<div class="row">
  <div class="col-lg-6">
  </div>
  <div class="col-lg-6">
    <p><br/><br/></p>
    <form style="100%" action='/search/result' method='get'>
    <div class="input-group">
      <input type="text" class="form-control" id="q" name="q" value="<%= @query.force_encoding('utf-8') %>">
      <%= hidden_field_tag(:qbase64, @qbase64) %>
      <span class="input-group-btn">
        <button class="btn btn-info" type="submit" data-toggle="tooltip" data-placement="right" title data-original-title="Tooltip on right" onclick='search'><i class="fa fa-search"></i> 搜索</button>
      </span>
    </div><!-- /input-group -->
    </form>
  </div>
</div>

<br/>


<div class="row">
  <div class="col-lg-8">
    <%= (current_user && current_user.id==1) ? @es_query_string.to_json : '' %> <br/>
    搜索 <strong><%= @query.force_encoding('utf-8') %></strong>
    获得 <%= @results.response['hits']['total'] %> 条匹配结果，
    用时 <%= @results.response['took'] %>毫秒，模式:<%=@mode%>。
    <% if @mode=='extended'%>
        <%= link_to '收藏规则', new_rule_path+"?qbase64="+CGI.escape(Base64.encode64(@query))%>
    <% end %>
    <% if current_user
            if @results.response['hits']['total'].to_i>1000 %>
        <span class="label label-info">普通账户显示1000条，高级帐号无限制！</span>
    <%      end
       else %>
        <span class="label label-info">未登录状态只能查看100条记录，登录后可以查看1000条记录！</span>
    <% end %>
  </div>
  <div class="col-lg-4">
    <div class="pull-right">
      <%= will_paginate @results,:previous_label=> '上一页',:next_label=> '下一页', :page_gap=>'......', :container => false  %>
    </div>
  </div>
</div>

<div id="htmlcontent" class="htmlcontent modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
          <h4 class="modal-title" id="mySmallModalLabel">网站正文</h4>
        </div>
        <div class="modal-body">
          <pre id="dataddd" class="dataddd" style="height: 300px; font-size: 10px">
          </pre>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
      </div><!-- /.modal-content -->
    </div>
</div>

<%
   if @error
%>
    <br/>
    <div class="alert alert-warning alert-dismissible ade in" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
      <a href="/users/sign_in"><i class="fa fa-unlock"></i><%= @error %></a>
    </div>
<%

   else
%>

<% @results.each do |doc|
  unless doc.host.include?('qihoo.net') || doc.ip.start_with?('10.')
  url = doc.host
  url = "http://" + url if !url.include?('https://')
%>
  <div class="container">
    <div class="row well-small" style="border: 1px solid #e1e1e8;">
      <div class="col-lg-4" style="padding: 8px">
        <%=link_to raw('') + doc.host + raw(' <i class="fa fa-external-link"></i>') , url, :target => "_blank" #link_to doc.host, "http://webscan.360.cn/index/checkwebsite/url/"+doc.host, :target => "_blank"
        %>
        <br/> <%= doc.title.force_encoding('utf-8') %>
      <br/> <img src="http://static.fofa.so/imgs/flaggif/<%=get_country_of_ip(doc.ip)%>.gif" /> <%= link_to doc.ip, "/search/result?qbase64="+CGI.escape(Base64.encode64('ip="'+doc.ip+'"')) %>
    <br/> 更新时间：<%= doc.lastupdatetime.to_datetime.strftime('%F') %>
    <br/>
        <a href="javascript:view('<%= doc.host%>')" style="font-size: 20px"><i class="fa fa-file-code-o"></i></a>
        <a href="/search/checkapp?all=true&host=<%= doc.host%>" style="font-size: 20px" target="_blank"><i class="fa fa-cogs"></i></a>
        <% if @current_admin_user %>
            <a href="/search/refresh?host=<%= doc.host%>" style="font-size: 20px" target="_blank"><i class="fa fa-refresh"></i></a>
        <% end %>
  <br/> 
  <% if @tags[doc.host] %>
    <% if @tags[doc.host].is_a?(Array) %>
      <% @tags[doc.host].each do |tag| %>
        <a type="button" class="btn btn-success" href="/search/result?q=<%=tag.tag%>"><%=tag.tag%></a>
      <% end %>
    <% else %>
      <a type="button" class="btn btn-success" href="/search/result?q=<%=@tags[doc.host].tag%>"><%=@tags[doc.host].tag%></a>
    <% end %>
  <% end %>
</div>
<div class="col-lg-8" style="font-size: 11px; padding: 8px; line-height: 14px;">
  <% if doc.highlight?  %>
      <%= raw(doc.highlight.header_ok[0].gsub("\n", "<br>"))%>
  <% else %>
      <% header = raw(doc.header.gsub("\n", "<br>")) %>
      <%= highlight(header, @query)%>
  <% end %>
</div>
    </div>
    <p></p>
  </div>
<% end
   end %>

<% end # error%>
<div class="pagination pull-right">
  <%= will_paginate @results,:previous_label=> '上一页',:next_label=> '下一页', :container => false  %>
</div>

<script>
function view(hst){
  url = '/search/get_host_content?host='+hst;
    $.getJSON(url).done(function(data) {
        $("#dataddd").text(data['host']['body']);//显示到tbody中
        $("#mySmallModalLabel").text(hst+" 网站正文"); 
        $('#htmlcontent').modal({show:true});
        //$("#htmlcontent").dialog({modal:true,height: 530,width:600, title: hst+" 网站正文"}).dialog('open');
    });
}
</script>

    <%= javascript_include_tag params[:controller] %>


