<% content_for :title, @query %>


<div class="row">
  <div class="col-lg-6">
  </div>
  <div class="col-lg-6">
    <p><br/><br/></p>
    <form style="100%" action='/search/result' method='get'>
    <div class="input-group">
      <input type="text" class="form-control" id="q" name="q" value="<%= @query.force_encoding('utf-8') %>">
      <%= hidden_field_tag(:qbase64, @qbase64) %>
      <span class="input-group-btn">
        <button class="btn btn-info" type="submit" data-toggle="tooltip" data-placement="right" title data-original-title="Tooltip on right" onclick='search'><i class="fa fa-search"></i> 搜索</button>
      </span>
    </div><!-- /input-group -->
    </form>
  </div>
</div>

<br/>
<% 
    #if @error
    if nil
  %>
<div class="alert fade in">
  <a class="close" data-dismiss="alert" href="#">×</a>
  <strong>错误！</strong> <%=@error%>
</div>
<%

  else
%>

<div class="row">
  <div class="col-lg-8">
    搜索 <strong><%= @query.force_encoding('utf-8') %></strong> 
    获得 <%= @results.meta['total_found'] %> 条匹配结果，
    用时 <%= @results.meta['time'] %>秒，模式:<%=@mode%>。
    <% if @mode=='extended'%>
        <%= link_to '收藏规则', new_rule_path+"?qbase64="+CGI.escape(Base64.encode64(@query))%>
    <% end %>
  </div>
  <div class="col-lg-4">
    <div class="pull-right">
      <%= will_paginate @results,:previous_label=> '上一页',:next_label=> '下一页', :container => false  %>
    </div>
  </div>
</div>

<div id="htmlcontent" class="htmlcontent modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
          <h4 class="modal-title" id="mySmallModalLabel">网站正文</h4>
        </div>
        <div class="modal-body">
          <pre id="dataddd" class="dataddd" style="height: 300px; font-size: 10px">
          </pre>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
      </div><!-- /.modal-content -->
    </div>
</div>


<% @results.each do |doc| %>
  <div class="container">
    <div class="row well-small" style="border: 1px solid #e1e1e8;">
      <div class="col-lg-4" style="padding: 8px">
        <%=link_to doc.host, "http://"+doc.host, :target => "_blank" #link_to doc.host, "http://webscan.360.cn/index/checkwebsite/url/"+doc.host, :target => "_blank" 
        %>  <a href="javascript:view('<%= doc.host%>')"><img src="/eye.png"></a>
        <br/> <%= doc.title.force_encoding('utf-8') %>
      <br/> <%= link_to doc.ip, "/search/result?q="+doc.ip %>
    <br/> 更新时间：<%= doc.lastupdatetime.to_datetime.strftime('%F') %>
  <br/> 
  <% if @tags[doc.hosthash] %>
    <% if @tags[doc.hosthash].is_a?(Array) %>
      <% @tags[doc.hosthash].each do |tag| %>
        <a type="button" class="btn btn-success" href="/search/result?q=<%=tag.tag%>"><%=tag.tag%></a>
      <% end %>
    <% else %>
      <a type="button" class="btn btn-success" href="/search/result?q=<%=@tags[doc.hosthash].tag%>"><%=@tags[doc.hosthash].tag%></a>
    <% end %>
  <% end %>
</div>
<div class="col-lg-8" style="background-color: #f7f7f9; font-size: 12px; padding: 8px; line-height: 14px;">
  <% header = raw(doc.header.gsub("\n", "<br>")) %>
  <%= highlight(header, @query)%>
</div>
    </div>
    <p></p>
  </div>
<% end %>

<div class="pagination pull-right">
  <%= will_paginate @results,:previous_label=> '上一页',:next_label=> '下一页', :container => false  %>
</div>

<script>
function view(hst){
  url = '/search/get_host_content?host='+hst;
    $.getJSON(url).done(function(data) {
        $("#dataddd").text(data['host']);//显示到tbody中 
        $("#mySmallModalLabel").text(hst+" 网站正文"); 
        $('#htmlcontent').modal({show:true});
        //$("#htmlcontent").dialog({modal:true,height: 530,width:600, title: hst+" 网站正文"}).dialog('open');
    });
}
</script>

    <%= javascript_include_tag params[:controller] %>
<% end %>

