<div class="person-filter-form">
  <%= render 'filter_form' %>
</div>
<table class="table table-striped table-hover table-bordered">
  <thead>
  <tr>
    <th width="10%">企业名称</th>
    <th width="15%">邮箱</th>
    <th width="30%">其他邮箱</th>
    <th width="35%">备注</th>
    <th width="10%">操作</th>
  </tr>
  </thead>

  <tbody>
  <% @persons.each do |person| %>
      <tr>
        <td><%= link_to person.name+"#{(person.alias && person.alias.size>0) ? '('+person.alias+')' : ''}", edit_target_asset_person_path(@target, person), remote: true  %></td>
        <td><%= person.email %></td>
        <td><%= person.otheremails %></td>
        <!--<td><%= person.tags.map{|t| t.name}.join(',') %></td>-->
        <td><%= person.memo %></td>
        <td>
          <%= link_to '编辑', edit_target_asset_person_path(@target, person), :class=>"btn btn-success btn-sm ", remote: true %>
          <%= link_to '删除', target_asset_person_path(@target, person), :class=>"btn btn-success btn-sm ", remote: true, method: :delete, data: { confirm: '确定要删除吗?' } %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<div class="col-lg-4">
  <div class="pull-right">
    <%= will_paginate @persons,:previous_label=> '上一页',:next_label=> '下一页', :container => false  %>
  </div>
</div>

<section class="panel">
  <div class="panel-heading">
    人员列表<a class="fa fa-refresh"></a>
  </div>
  <div class="panel-body no-padding" id="personTreePanel">
    <div id="personTree" class="tree tree-plus-minus tree-solid-line tree-unselectable">
    </div>
  </div>
</section>