<%= stylesheet_link_tag('targets') %>

<div class="row">
  <div class="col-xs-6 col-sm-6" id="logPanel">
  </div>
  <div class="col-xs-6 col-sm-6">
    <div class="pull-right col-sm-auto" style="margin:10px">
      <%= link_to raw('<li class="fa fa-exchange"></li>导入邮箱'), import_emails_target_asset_persons_path(@target), remote: true, class: "btn btn-success btn-sm"%>
      <%= link_to raw('<li class="fa fa-plus"></li>添加员工信息'), new_target_asset_person_path(@target), remote: true, class: "btn btn-info btn-sm"%>
    </div>
  </div>
</div>
<!-- Start .bredcrumb -->
<ul id="crumb" class="breadcrumb">
  <li><i class="im-home"></i><a href="/my">管理首页</a><i class="en-arrow-right7"></i></li>
  <li><i class="im-home"></i><%= link_to @target.name, target_path(@target)%><i class="en-arrow-right7"></i></li>
  <li><i class="im-screen"></i> 人员资产 </li>
</ul>
<!-- End .breadcrumb -->

<div class="person-list-index">
<%= render 'index' %>
</div>


<div class="modal fade bs-modal-sm add-person-modal" tabindex="100" role="dialog" aria-hidden="true" id="add-person-modal">
</div>

<div class="modal fade bs-modal-sm import-emails-modal" tabindex="100" role="dialog" aria-hidden="true" id="import-emails-modal">
</div>

<script>
    $(document).ready(function() {
        refresh_assets_from_data('personTree', <%=raw(@treedata.to_json)%>);
        <%#= render 'reload.js' %>
    });
</script>


<%= javascript_include_tag('targets') %>