
<div class="row">
  <div class="col-xs-6 col-sm-6">
  </div>
  <div class="col-xs-6 col-sm-6">
      <div class="pull-right col-sm-auto" style="margin:10px">
        <%= link_to raw('<li class="fa fa-plus"></li> 提交规则'), new_rule_path,
                    :class=>"btn btn-info" %>
      </div>
    </div>
</div>
<!-- Start .bredcrumb -->
<ul id="crumb" class="breadcrumb"><li><i class="im-home"></i><a href="/my">管理首页</a><i class="en-arrow-right7"></i></li><li><i class="im-screen"></i> 规则列表 </li></ul>
<!-- End .breadcrumb -->
<table class="table table-striped table-hover table-bordered">
  <thead>
  <tr>
    <th width="10%">厂商</th>
    <th width="15%">分组</th>
    <th width="65">规则测试</th>
    <th width="10%">操作</th>
  </tr>
  </thead>

  <tbody>
  <% @rules.each do |rule| %>
      <tr>
        <td><%= link_to rule.product, rule.producturl%></td>
        <td>
          <% rule.categories.each{|cat| %>
              <%= link_to(cat.title, cat) + raw('， ') %>
          <% } %>
        </td>
        <td><%= link_to rule.rule, "/search/result?qbase64="+Base64.encode64(rule.rule)%></td>
        <td>
          <%= link_to '编辑', edit_rule_path(rule), :class=>"btn btn-success btn-sm " %>
          <%= link_to '删除', rule, :class=>"btn btn-success btn-sm ", method: :delete, data: { confirm: '确定要删除吗?' } %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<div class="col-lg-4">
  <div class="pull-right">
    <%= will_paginate @rules,:previous_label=> '上一页',:next_label=> '下一页', :container => false  %>
  </div>
</div>
