<h1>规则详情</h1>
<div class="bs-component">
  <ul class="breadcrumb">
    <li><%= link_to '规则管理', rules_path %></li>
    <li class="active">规则详情</li>
  </ul>
</div>

<% if notice %>
<div class="bs-component">
  <div class="alert alert-dismissable alert-info">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>Well done!</strong> <%= notice %>.
  </div>
</div>
<% end %>

<p>
  <strong>应用:</strong>
  <%= @rule.product %>
</p>

<p>
  <strong>网址:</strong>
  <%= @rule.producturl %>
</p>

<p>
  <strong>规则:</strong>
  <%= @rule.rule %>
</p>

<%= link_to '编辑', edit_rule_path(@rule) %>
