
<h1>建站类组件库列表</h1>
<table class="table table-striped table-hover table-bordered">
  <thead>
  <tr>
    <th width="20%">日期</th>
    <th width="20%">厂商</th>
    <th width="60%">规则测试</th>
  </tr>
  </thead>
  <tbody>
  <%
     get_cms.each { |l|
  %>
      <tr>
      <td>【<%=l[1]%>】</td>
      <td><a href='<%=l[2]%>' target='_blank'><%=l[0]%></a> </td>
      <td><a href="/search/result?qbase64=<%=CGI.escape Base64.encode64(l[3])%>"><%=l[3]%></a></td>
      </tr>
  <%
     }
  %>
  </tbody>
</table>




<h1>待添加</h1>
<p> 5ucms</p>
<p> cms4j</p>
<p> EasySite</p>

<h1>基础类组件库列表</h1>
<%
  get_base_librarys.each { |l|
%>
【<%=l[1]%>】<a href='<%=l[2]%>' target='_blank'><%=l[0]%></a> 识别方法： <a href="/search/result?qbase64=<%=Base64.encode64(l[3])%>"><%=l[3]%></a></p>
<%
  }
%>

<h1>网站安全云防护组件库列表</h1>
<%
  get_cloudsec.each { |l|
%>
【<%=l[1]%>】<a href='<%=l[2]%>' target='_blank'><%=l[0]%></a> 识别方法： <a href="/search/result?qbase64=<%=Base64.encode64(l[3])%>"><%=l[3]%></a></p>
<%
  }
%>


<p>
<a href="/submit/library">提交组件库</a>
</p>
