
<h1>建站类组件库列表(共计<%=@all_cnt%>条)</h1>
<table class="table table-striped table-hover table-bordered">
  <thead>
  <tr>
    <th width="15%">日期</th>
    <th width="15%">厂商</th>
    <th width="50%">规则测试</th>
    <th width="10%">贡献者</th>
    <th width="10%">操作</th>
  </tr>
  </thead>
  <tbody>

  <%
     @rules.each { |r|
  %>
      <tr>
        <td>【<%=Time.parse(r['created_at']).strftime('%Y-%m-%d')%>】</td>
        <td><a href='<%=r['producturl']%>' target='_blank'><%=r['product']%></a> </td>
        <td><a href="/search/result?qbase64=<%=CGI.escape Base64.encode64(r['rule'])%>"><%=r['rule']%></a></td>
        <td><%=r.user ? r.user.username : '-'%></td>
        <td><%= link_to '收藏', save_rule_path(r), :class=>"btn btn-success btn-sm " %></td>
      </tr>
  <%
     }
  %>

  </tbody>
</table>


<p>
  <a href="/my/rules/new">提交组件库</a>
</p>