<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="wb:webmaster" content="8c82a58ef51db305" />
  <title><%= content_for?(:title) ? yield(:title).force_encoding('utf-8') + " :FOFA-开放的网站信息搜索引擎": "FOFA -- 开放的网站信息搜索引擎 -- fofa.so" %></title>
  <meta name="Keywords" content="网站信息库,应用识别,CMS识别,全网漏洞扫描器,网站指纹,网站服务器,网站应用,网络安全,网站安全,搜索引擎" />
  <meta name="Description" content="FOFA网站信息搜索引擎，是一款为技术人员提供指纹识别，全网应用识别的开放式在线搜索引擎。" />
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <%= render 'layouts/navbar' %>

  <div class="container">
    <% flash.each do |key,value| %>
        <div class="page-header alert <%if key.to_s=='alert' %>alert-warning<%else%>alert-success<%end%> alert-dismissible ade in" role="alert">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span>
            <span class="sr-only">关闭</span></button>
          <strong>提示：</strong> <%=value%>
        </div>
    <% end %>

    <%= yield %>

    <%= render 'layouts/footer' %>


  </div>


  <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-45987479-1', 'fofa.so');
      ga('send', 'pageview');

  </script>
</body>
</html>
