<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
  <title><%= content_for?(:title) ? yield(:title).force_encoding('utf-8') + " :FOFA网站信息库": "我的管理后台 -- FOFA" %></title>
  <%= stylesheet_link_tag "my" %>
  <%= javascript_include_tag "my", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="app">

  <%= render 'layouts/member.header' %>

  <section class="layout">

    <aside class="sidebar collapsible canvas-left">
      <%= render 'layouts/member.sidebar' %>
      <%= render 'layouts/member.footer' %>
    </aside>

    <aside class="chat-sidebar canvas-right pull-right">
      <div class="slimscroll" data-height="auto" data-size="6px" data-distance="0">
        <div class="row text-white pd-md">
          <div class="col-xs-8">
            <p class="mg-t-xs">Mute notifications</p>
          </div>
          <div class="col-xs-4">
            <input type="checkbox" class="js-switch" checked />
          </div>
        </div>
        <b class="center-block text-white pd-md">
          Activity feed
        </b>
        <div class="pd-md">
          <a href="javascript:;" class="pull-left mg-r-md">
                            <span class="fa-stack fa-lg">
<i class="fa fa-circle fa-stack-2x text-warning"></i>
<i class="fa fa-download fa-stack-1x fa-inverse"></i>
</span>
          </a>
          Rose Fournier
          <small>Posted on to your wall</small>
          <br>
          <small>2 mins ago</small>
        </div>
        <div class="pd-md">
          <a href="javascript:;" class="pull-left mg-r-md">
                            <span class="fa-stack fa-lg">
<i class="fa fa-circle fa-stack-2x text-danger"></i>
<i class="fa fa-download fa-stack-1x fa-inverse"></i>
</span>
          </a>
          Liviu Cîndea
          <small>Shared a photo with you.</small>
          <br>
          <small>13 mins ago</small>
        </div>
        <div class="pd-md">
          <a href="javascript:;" class="pull-left mg-r-md">
                            <span class="fa-stack fa-lg">
<i class="fa fa-circle fa-stack-2x text-success"></i>
<i class="fa fa-download fa-stack-1x fa-inverse"></i>
</span>
          </a>
          Ane Marín
          <small>Left the group(HR)</small>
          <br>
          <small>4 days ago</small>
        </div>
        <b class="center-block text-white pd-md">
          Favourites
        </b>
        <div class="pd-md">
          <a href="javascript:;" class="pull-left mg-r-md">
            <img src="img/face4.jpg" class="avatar avatar-sm img-circle" alt="">
          </a>
          <div class="user">
            Adi Afrom
            <i class="fa fa-circle text-danger pull-right"></i>
          </div>
          <small>Offline</small>
        </div>
        <div class="pd-md">
          <a href="javascript:;" class="pull-left mg-r-md">
            <img src="img/face3.jpg" class="avatar avatar-sm img-circle" alt="">
          </a>
          <div class="user">
            Leonie Horn
            <i class="fa fa-circle text-danger pull-right"></i>
          </div>
          <small>Offline</small>
        </div>
        <b class="center-block text-white pd-md">
          Friends Online
        </b>
        <div class="pd-md">
          <a href="javascript:;" class="pull-left mg-r-md">
            <img src="img/face1.jpg" class="avatar avatar-sm img-circle" alt="">
          </a>
          <div class="user">
            Joshua Smart
            <i class="fa fa-circle text-warning pull-right"></i>
          </div>
          <small>is thinking of bananas</small>
        </div>
        <div class="pd-md">
          <a href="javascript:;" class="pull-left mg-r-md">
            <img src="img/face3.jpg" class="avatar avatar-sm img-circle" alt="">
          </a>
          <div class="user">
            娉 廖
            <i class="fa fa-circle text-success pull-right"></i>
          </div>
          <small>Ready to chat</small>
        </div>
        <div class="pd-md">
          <a href="javascript:;" class="pull-left mg-r-md">
            <img src="img/face5.jpg" class="avatar avatar-sm img-circle" alt="">
          </a>
          <div class="user">
            Albert Madsen
            <i class="fa fa-circle-o text-default pull-right"></i>
          </div>
          <small>idle</small>
        </div>
      </div>
    </aside>


    <section class="main-content">

      <div class="content-wrap">
        <%= yield %>
      </div>

    </section>

  </section>
</div>


  <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-45987479-1', 'fofa.so');
      ga('send', 'pageview');

  </script>
</body>
</html>
